* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.add-vehicle {
    background: #1c1024;
    color: white;
    padding: 40px;
    margin: 40px auto;
    border-radius: 12px;
    max-width: 600px;
}

.add-vehicle h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-vehicle form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.add-vehicle input,
.add-vehicle button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
}

.add-vehicle input {
    width: 100%;
}

.add-vehicle button {
    background: #2d1b3d;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.add-vehicle button:hover {
    background: #c469e7;
}

